// configuration for google pipeline API debug 
nextflow.enable.types = true

docker {
    enabled = true
}

process {
    executor = 'google-batch'
    machineType = "n1-standard-1"

    withLabel: "local" {
        machineType = 'n1-standard-1'
        maxRetries = 0
        errorStrategy = "terminate"
        container = 'andersenlab/gcp-local:20250801'
    }

    withLabel: "process_small" {
        machineType = 'n1-standard-1'
        maxRetries = 0
        errorStrategy = "terminate"
    }

    withLabel: "process_medium_small" {
        machineType = 'n1-standard-2'
        maxRetries = 0
        errorStrategy = "terminate"
    }

    withLabel: "process_medium" {
        machineType = 'n1-standard-4'
        maxRetries = 0
        errorStrategy = "terminate"
    }

    withLabel: "process_bigmem" {
        machineType = 'n1-highmem-8'
        maxRetries = 0
        errorStrategy = "terminate"
    }

    withLabel: "process_small_progressive" {
        machineType = { task.attempt == 1 ? 'n1-standard-1' : task.attempt == 2 ? 'n1-standard-2' : 'n1-standard-4' }
        maxRetries = 2
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    }

    withLabel: "process_medium_small_progressive" {
        machineType = { task.attempt == 1 ? 'n1-standard-2' : task.attempt == 2 ? 'n1-standard-4' : 'n1-standard-8' }
        maxRetries = 2
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    }

    withLabel: "process_medium_progressive" {
        machineType = { task.attempt == 1 ? 'n1-standard-4' : task.attempt == 2 ? 'n1-standard-8' : 'n1-standard-16' }
        maxRetries = 2
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    }

    withLabel: "process_bigmem_progressive" {
        machineType = { task.attempt == 1 ? 'n1-highmem-8' : task.attempt == 2 ? 'n1-highmem-16' : 'n1-highmem-32' }
        maxRetries = 2
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    }

}


// GCP specific params
google {
    project = "${params.google_project}"
    location = "${params.google_zone}"
    batch {
        serviceAccountEmail = "${params.google_service_account_email}"
        debug = true
        preemptible = true
    }
}


executor {
    queueSize = 500
}

workDir = "${params.work_dir}"
