/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: "BCFTOOLS_VIEW_STRAINS" {
        ext.args = {[
            "--output-type b",
            "--write-index=csi",
            "--types snps"
        ].join(' ').trim()}
    }

    withName: "BCFTOOLS_FILTER" {
        ext.args = {[
            "--output-type b",
            "--include N_MISSING=0 ",
            "--write-index=csi"
        ].join(' ').trim()}
    }

    withName: "BCFTOOLS_QUERY" {
        ext.args = {[
            "--print-header",
            "-f '%CHROM\t%POS\t%REF\t%ALT[\t%GT]\n'"
        ].join(' ').trim()}
        ext.suffix = "tsv"
    }

    withName: "BCFTOOLS_ANNOTATE" {
        ext.args = {[
            "--output-type b",
            "--write-index=csi"
        ].join(' ').trim()}
    }

    withName: "PLINK_BCF" {
        ext.args = {[
            "--make-bed",
            "--set-missing-var-ids @:#",
            "--geno",
            "--allow-extra-chr"
        ].join(' ').trim()}
    }

    withName: "PLINK_INDEPPAIRWISE" {
        ext.args = {[
            "--snps-only",
            "--biallelic-only",
            "--maf ${params.maf}",
            "--set-missing-var-ids @:#",
            "--geno",
            "--allow-extra-chr"
        ].join(' ').trim()}
    }

    withName: "PLINK_ANNOTATED_BCF" {
        ext.args = {[
            "--make-bed",
            "--set-missing-var-ids @:#",
            "--geno",
            "--allow-extra-chr"
        ].join(' ').trim()}
    }

    withName: "PLINK_EXTRACT" {
        ext.prefix = "pruned"
    }

    withName: "BCFTOOLS_VIEW_SNPS" {
        ext.args = {[
            "--output-type z",
            "--types snps"
        ].join(' ').trim()}
    }

    withName: "BCFTOOLS_VIEW_IMPUTED" {
        ext.args = {[
            "--output-type b",
            "--write-index=csi",
            "--types snps"
        ].join(' ').trim()}
    }

    withName: "BCFTOOLS_FILTER_IMPUTED" {
        ext.args = {[
            "--output-type b",
            "--include 'N_MISSING=0 & GT!=\"het\"'",
            "--write-index=csi"
        ].join(' ').trim()}
    }

    withName: "BCFTOOLS_FILTER_IMPUTED_MT" {
        ext.args = {[
            "--output-type b",
            "--include N_MISSING=0",
            "--write-index=csi"
        ].join(' ').trim()}
    }

    withName: "BCFTOOLS_ANNOTATE_FM" {
        ext.args = {[
            "--output-type b",
            "--write-index=csi"
        ].join(' ').trim()}
    }

    withName: "PLINK_BCF_FM" {
        ext.args = {[
            "--make-bed",
            "--biallelic-only",
            "--allow-extra-chr",
            "--set-missing-var-ids @:#",
            "--maf ${params.maf}",
            "--geno",
            "--recode vcf-iid bgz",
        ].join(' ').trim()}
    }

    withName: "BCFTOOLS_QUERY_GR" {
        ext.args = {[
            "--print-header",
            "-f '%CHROM\t%POS\t%REF\t%ALT[\t%GT]\n'"
        ].join(' ').trim()}
        ext.suffix = "tsv"
    }

}
