nextflow.enable.types = true

/*
    Rockfish Configuration
*/

singularity.enabled     = true
singularity.autoMounts  = true
conda.enabled           = false
docker.enabled          = false
podman.enabled          = false
shifter.enabled         = false
charliecloud.enabled    = false
apptainer.enabled       = false

process {
    executor = 'slurm'
    clusterOptions = '-A eande106 -e errlog.txt -N 1'
    queue = "parallel"
    cache = 'lenient'

    withLabel: "local" {
        executor = "local"
        maxRetries = 0
        errorStrategy = "terminate"
    }

    withLabel: "process_medium" {
        cpus = 4
        time = 8.h
    }

    withName: "NEMASCAN:GWA_MAPPING:GENOTYPE_MATRIX_EIGEN" {
        clusterOptions = '-A eande106_bigmem -e errlog.txt -N 1'
        queue = "bigmem"
        memory = 100.GB
        time = 1.h
    }

}

params {
    file_paths = [
        'c_elegans': [
            'vcf': "/vast/eande106/data/c_elegans/WI/variation/20250625/vcf/WI.20250625.small.hard-filter.isotype.vcf.gz",
            'imputed': "/vast/eande106/data/c_elegans/WI/variation/20250625/vcf/WI.20250625.impute.isotype.vcf.gz",
            'annotation': "/vast/eande106/data/c_elegans/WI/variation/20250625/vcf/WI.20250625.csq.strain-annotation.csv.gz",
            'haplotypes': "/vast/eande106/data/c_elegans/WI/haplotype/20250625/haplotype_df_isotype.bed",
            'genes': "/vast/eande106/data/c_elegans/genomes/PRJNA13758/WS283/browser_tracks/elegans_transcripts_WS283.bed.gz",
            'isogroups': "https://caendr.org/request-strains/isotype_list/download"
            ],
        'c_briggsae': [
            'vcf': "/vast/eande106/data/c_briggsae/WI/variation/20250626/vcf/WI.20250626.small.hard-filter.isotype.vcf.gz",
            'imputed': "/vast/eande106/data/c_briggsae/WI/variation/20250626/vcf/WI.20250626.impute.isotype.vcf.gz",
            'annotation': "/vast/eande106/data/c_briggsae/WI/variation/20250626/vcf/WI.20250626.csq.strain-annotation.csv.gz",
            'haplotypes': "/vast/eande106/data/c_briggsae/WI/haplotype/20250626/haplotype_df_isotype.bed",
            'genes': "/vast/eande106/data/c_briggsae/genomes/QX1410_nanopore/Feb2020/browser_tracks/20240129_c_briggsae_transcripts.bed.gz",
            'isogroups': "https://caendr.org/request-strains/isotype_list/download"
            ],
        'c_tropicalis': [
            'vcf': "/vast/eande106/data/c_tropicalis/WI/variation/20250627/vcf/WI.20250627.small.hard-filter.isotype.vcf.gz",
            'imputed': "/vast/eande106/data/c_tropicalis/WI/variation/20250627/vcf/WI.20250627.impute.isotype.vcf.gz",
            'annotation': "/vast/eande106/data/c_tropicalis/WI/variation/20250627/vcf/WI.20250627.csq.strain-annotation.csv.gz",
            'haplotypes': "/vast/eande106/data/c_tropicalis/WI/haplotype/20250627/haplotype_df_isotype.bed",
            'genes': "/vast/eande106/data/c_tropicalis/genomes/NIC58_nanopore/June2021/browser_tracks/20231201_c_tropicalis_transcripts.bed.gz",
            'isogroups': "https://caendr.org/request-strains/isotype_list/download"
            ],
        ].withDefault { null }
    vcf = params.file_paths[params.species]['vcf']
    imputed = params.file_paths[params.species]['imputed']
    annotation = params.file_paths[params.species]['annotation']
    haplotypes = params.file_paths[params.species]['haplotypes']
    genes = params.file_paths[params.species]['genes']
    isogroups = params.file_paths[params.species]['isogroups']
}

