nextflow.enable.types = true

/*
    Rockfish Configuration
*/

singularity.enabled     = true
singularity.autoMounts  = true
conda.enabled           = false
docker.enabled          = false
podman.enabled          = false
shifter.enabled         = false
charliecloud.enabled    = false
apptainer.enabled       = false

process {
    executor = 'slurm'
    clusterOptions = '-A eande106 -e errlog.txt -N 1'
    queue = "parallel"
    cache = 'lenient'

    withLabel: "local" {
        executor = "local"
        maxRetries = 0
        errorStrategy = "terminate"
    }

    withLabel: "process_medium" {
        cpus = 4
        time = 8.h
    }

    withName: "NEMASCAN:GWA_MAPPING:GENOTYPE_MATRIX_EIGEN" {
        clusterOptions = '-A eande106_bigmem -e errlog.txt -N 1'
        queue = "bigmem"
        memory = 100.GB
        time = 1.h
    }

}

