nextflow.enable.types = true

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run andersenlab/fq-processing-nf -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
includeConfig 'rockfish.config'

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    traits          = "${projectDir}/tests/data/debug/ben1_pheno.tsv"
    datadir         = "/vast/eande106/data"
    transcript_eqtl = "/vast/eande106/data/c_elegans/WI/phenotypes/expression/eQTL6545forMed.tsv"
    transcript_expression = "/vast/eande106/data/c_elegans/WI/phenotypes/expression/tx5291exp_st207.tsv"
    vcf             = "/vast/eande106/data/c_elegans/WI/variation/20250625/vcf/WI.20250625.small.hard-filter.isotype.vcf.gz"
    imputed         = "/vast/eande106/data/c_elegans/WI/variation/20250625/vcf/WI.20250625.impute.isotype.vcf.gz"
    isogroups       = "/vast/eande106/data/c_elegans/WI/concordance/20250625/isotype_groups.tsv"
    annotation      = "/vast/eande106/data/c_elegans/WI/variation/20250625/vcf/WI.20250625.csq.strain-annotation.csv.gz"
    haplotypes      = "/vast/eande106/data/c_elegans/WI/haplotype/20250625/haplotype_df_isotype.bed"
    species         = "c_elegans"
    genes           = "/vast/eande106/data/c_elegans/genomes/PRJNA13758/WS283/browser_tracks/elegans_transcripts_WS283.bed.gz"
    mediation       = true
}
